body {
    margin: 0;
    padding: 0;
}
body * {
    text-align: center;
    font-family: "courier new";
}

canvas {
    background: #eee;
    display: block;
    margin: 0 auto 20px auto;
    padding: 0;
}

ul li {
    list-style: none;
}

.mobile-controls {
    width: 480px;
    margin: 0 auto;
}
.mobile-controls button {
    padding: 10px 0;
    width: 50%;
}