body {
    margin: 0;
    padding: 0;
}
body * {
    text-align: center;
    font-family: "courier new";
}

.container {
    max-width: 480px;
    margin: 0 auto;
}

canvas {
    background: #eee;
    display: block;
    padding: 0;
    width: 100%;
}

ul li {
    list-style: none;
}

.mobile-controls {
    width: 100%;
    margin: 20px auto 0 auto;
}
.mobile-controls button {
    padding: 10px 0;
    width: 50%;
}